{% extends 'base.html' %}
{# Don't forget that one ! #}
{% load static %}
{% block title %}
    Add Product
{% endblock title %}
{% block page_title %}Masters{% endblock page_title %}

{% block container %}
    <h3>Add Product</h3>
    <hr>
    {% include 'partial/form.html' with date1="Launch Date" date2="Discontinuation Date" %}
    <div class="editor-container" id="product-model-container-mrp">
        <button id="close-mrp">CLOSE</button>
        <div id="product-model">FORMULA_FOR_MRP =     #Add your formula after =
#Available Variable
        </div>
    </div>

    <div class="editor-container" id="product-model-container-rate">
        <button id="close-rate">CLOSE</button>
        <div id="product-model-rate">FORMULA_FOR_RATE =     #Add your formula after =
#Available Variable
        </div>
    </div>
{% endblock container %}

{% block footer %}
{{ form.media }}
<style type="text/css" media="screen">
    #product-model, #product-model-rate { 
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        top: 20px;
    }

    .editor-container {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        top: 0;
        height: 100vh;
        width: 100vw;
        z-index: 1000;
    }
</style>
<script src="{% static 'js/ace/ace.js' %}" type="text/javascript" charset="utf-8"></script>
<script>
    $("#product-model-container-mrp").hide();
    var editor = ace.edit("product-model");
    editor.setTheme("ace/theme/dracula");
    editor.session.setMode("ace/mode/python");

    $(document).ready(function(){
        $("#id_formula_for_mrp").attr('readonly', true);
        $("#id_formula_for_mrp").css("height", "100px");
        formula = $("#id_formula_for_mrp").val();
        if (formula) {
            editor.setValue(formula);
        }

        $("form").submit(function(e){
            $("#id_formula_for_mrp").val(editor.getValue());
        })
    });

    $("#id_formula_for_mrp").click(function(){
        document.body.style.overflowY = "hidden"
        document.body.scrollTop = document.documentElement.scrollTop = 0;
        $("#product-model-container-mrp").show();
    })

    $("#close-mrp").click(function(){
        $("#id_formula_for_mrp").val(editor.getValue());
        console.log(editor.getValue())
        $("#product-model-container-mrp").hide();
        document.body.style.overflowY = "scroll"
    })

// RATE -------------------------------------------------

    $("#product-model-container-rate").hide();
    var editor1 = ace.edit("product-model-rate");
    editor1.setTheme("ace/theme/dracula");
    editor1.session.setMode("ace/mode/python");

    $(document).ready(function(){
        $("#id_formula_for_rate").attr('readonly', true);
        $("#id_formula_for_rate").css("height", "100px");
        formula = $("#id_formula_for_rate").val();
        if (formula) {
            editor1.setValue(formula);
        }

        $("form").submit(function(e){
            $("#id_formula_for_rate").val(editor1.getValue());
        })
    });

    $("#id_formula_for_rate").click(function(){
        document.body.style.overflowY = "hidden"
        document.body.scrollTop = document.documentElement.scrollTop = 0;
        $("#product-model-container-rate").show();
    })

    $("#close-rate").click(function(){
        $("#id_formula_for_rate").val(editor1.getValue());
        console.log(editor.getValue())
        $("#product-model-container-rate").hide();
        document.body.style.overflowY = "scroll"
    })

    $("#id_default_mrp").parent().hide();
    $("#id_default_rate").parent().hide();

    $("#id_base_for_mrp").change(function(){
        $("#id_mrp_round").parent().toggle();
        $("#id_default_mrp").parent().toggle();
        $("#id_formula_for_mrp").parent().toggle();
    })

    $("#id_base_for_rate").change(function(){
        $("#id_rate_round").parent().toggle();
        $("#id_default_rate").parent().toggle();
        $("#id_formula_for_rate").parent().toggle();
    })

    $(document).ready(function(){
        if ($("#id_base_for_mrp").is(":checked")) {
            $("#id_mrp_round").parent().toggle();
            $("#id_default_mrp").parent().toggle();
            $("#id_formula_for_mrp").parent().toggle();
        }

        $("#id_formula_for_mrp").parent().append(`
            <a>Check Formula</a>
        `)

        $("#id_formula_for_rate").parent().append(`
            <a>Check Formula</a>
        `)

        if ($("#id_base_for_rate").is(":checked")) {
            $("#id_rate_round").parent().toggle();
            $("#id_default_rate").parent().toggle();
            $("#id_formula_for_rate").parent().toggle();
        }
    })


</script>
{% endblock %}