{% extends 'base.html' %}
{# Don't forget that one ! #}
{% load static %}
{% block title %}
    Edit Company
{% endblock title %}
{% block page_title %}Masters{% endblock page_title %}

{% block container %}
    <h3>Edit Company</h3>
    <hr>
    {% include 'partial/form.html' with date1="Appointing Date" date2="Cease Date" %}
{% endblock container %}

{% block footer %}
{{ form.media }}
<script>
    document.querySelector("#id_gst_number").addEventListener("change", function(){
        document.querySelector("#id_pan_number").value = document.querySelector("#id_gst_number").value.slice(2,12)
    });
</script>
{% endblock %}