// table thead th a {
//     text-decoration: none;
//     color: black;
//     font-weight: bold;
// }

// .pagination li {
//     display: inline;
//     text-align: right;
// }

// .pagination {
//     float: right;
// }

// .pagination::after {
//     content: '';
//     display: block;
//     clear: both;
// }

// .right {
//     float: right;
// }

// .right::after {
//     content: '';
//     display: block;
//     clear: both;
// }

// a {
//     color: #d7263d;
// }

// .error {
//     color: red !important;
//     display: block !important;
// }

// .table-container {
//     overflow-x: scroll;
//     width: 100%;
// }

// .input-field select {
//     -webkit-appearance: none;
//     -moz-appearance: none;
//     -ms-appearance: none;
//     appearance: none;
//     border-bottom: 1px solid rgba(0, 0, 0, 0.125);
//     border-radius: 0 !important;
// }

.select-grid-container {
    display: grid;
    grid-template-columns: 97% 3%;
}

.primary {
    background: #465775 !important;
    color: white !important;
}

.primary > a {
    color: white !important;
}

.secondary {
    background: #FBF5F3 !important;
}

.tertiary {
    background: #2D728F !important;
    color: white !important;

    a {
        color: white !important;
    }
}

thead {
    @extend .tertiary;
}

td:not(:last-child) {
    border-right: 1px solid #efefef;
}

.error {
    li {
        color: red;
        list-style-type: none;
        text-align: right;
    }
    color: red;
}

input, select {
    &:focus-within {
        border-color: #1e87f0 !important;
    }

    &.form_error {
        border: 1px solid red;
    }
}

.uk-modal {
    .uk-modal-dialog {
        width: 100% !important;
    }
}

