{% load widget_tweaks %}
{% load formset_tags %}
{% if tax_form %}
    <div id="tax-form-set" data-formset-prefix="{{ tax_form.prefix }}" class="uk-column-span uk-margin-top tax_form_container">
        <h4>Tax Form</h4>
        <span id="tax-form-error-main" class="error">{{tax_form.non_form_errors}}</span>
        <hr/>
        {{ tax_form.management_form }}
        <div data-formset-body>
            {% for each_date_form in tax_form %}
                <div data-formset-form class="uk-column-1-3@s uk-column-divider tax_form">
                    {% with WIDGET_ERROR_CLASS='uk-form-danger' WIDGET_REQUIRED_CLASS='my_required' %}
                        {% for form_field in each_date_form %}
                            <div>
                                <label>{{form_field.label}}</label>
                                {% if form_field.field.widget.input_type == "number" %}
                                    {% render_field form_field class+="uk-input" %}
                                {% elif form_field.field.widget.input_type == "checkbox" %}
                                    {% render_field form_field class+="uk-checkbox" hidden="hidden" %}
                                {% else %}
                                    {% render_field form_field class+="uk-input" type="date" %}
                                {% endif %}
                                <span class="error">{{form_field.errors}}</span>
                            </div>
                        {% endfor %}
                    {% endwith %}
                    <br/>
                    <a data-formset-delete-button class="date_form_remove" uk-icon="icon: minus"></a>
                </div>
            {% endfor %}
        </div>
        <a data-formset-add class="date_form_add" uk-icon="icon: plus"></a>
        <hr/>
        <script type="form-template" data-formset-empty-form>
            {% escapescript %}
                <div data-formset-form class="uk-column-1-3@s uk-column-divider tax_form">
                    {% with WIDGET_ERROR_CLASS='uk-form-danger' WIDGET_REQUIRED_CLASS='my_required' %}
                        {% for form_field in tax_form.empty_form %}
                            <div>
                                <label>{{form_field.label}}</label>
                                {% if form_field.field.widget.input_type == "number" %}
                                    {% render_field form_field class+="uk-input" %}
                                {% elif form_field.field.widget.input_type == "checkbox" %}
                                    {% render_field form_field class+="uk-checkbox" hidden="hidden" %}
                                {% else %}
                                    {% render_field form_field class+="uk-input" type="date" %}
                                {% endif %}
                                <span class="error">{{form_field.errors}}</span>
                            </div>
                        {% endfor %}
                    {% endwith %}
                    <a data-formset-delete-button class="date_form_remove" uk-icon="icon: minus"></a>
                </div>
            {% endescapescript %}
        </script>
        
        <script>jQuery(function($) {
            $("#tax-form-set").formset().on('formAdded', function() {
                this.querySelector("#tax-form-error-main").hidden = true;
            }).on('formDeleted', function() {
                this.querySelectorAll("[checked='checked']").forEach(function(el, index){
                    el.parentElement.parentElement.hidden = true
                });
                if (this.querySelectorAll(".tax_form:not([hidden])").length === 0) {
                    this.querySelector("#tax-form-error-main").innerHTML = "There Must be Atleast one tax and wef date"
                    this.querySelector("#tax-form-error-main").hidden = false;
                }
            });
        });</script>
    </div>
{% endif %}
