<html>
    <body>
        <div>
            <h1>{{order}}</h1>

            <div>
                <table>
                    <tr>
                        <th>Order To</th>
                        <th>Dispatch To</th>
                    </tr>
                    <tr>
                        <td>
                            Company Name : {{order.company.firm_name}}
                        </td>
                        <td>
                            Distributor Name : {{order.distributor.firm_name}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Company Address : {{order.company.address}}
                        </td>
                        <td>
                            Distributor Address : {{order.distributor.address}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            City Pin : {{order.company.pin_code}}
                        </td>
                        <td>
                            City Pin : {{order.distributor.pin_code}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            GSTIN : {{order.company.gst_number}}
                        </td>
                        <td>
                            GSTIN : {{order.distributor.gst_number}}
                        </td>
                    </tr>
                </table>
            </div>
            <h2>Product Group</h2>
            <div>
                <table>
                        <tr>
                            <th>Order Date</th>
                            <th>Co. Order No:</th>
                            <th>BILL</th>
                            <th>BAR</th>
                            <th>SPD</th>
                        </tr>
                        <tr>
                            <td>{{order.order_date}}</td>
                            <td>{{order.order_number}}</td>
                            <td>{{order.bill_rate}}</td>
                            <td>{{order.bar_rate}}</td>
                            <td>{{order.s_p_d}}</th>
                        </tr>
                </table>
            </div>
            <div>
                <table>
                    <tr>
                        <th>Sl</th>
                        <th colspan=2>Item</th>
                        <th>Pcs</th>
                        <th>C/s</th>
                        <th>MRP</th>
                    </tr>
                    {% for pr in order.products.all %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td colspan=2>{{pr}}</td>
                            <td>{{pr.product_quantity}}</td>
                            <td>{{pr.product_cases}}</td>
                            <td>{{pr.product_mrp}}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <th colspan=6>&nbsp;</th>
                    </tr>
                    <tr>
                        <th>Total Cases</th>
                        <td>{{order.total_cases}}</td>
                        <th>Total Wieght</th>
                        <td>{{order.total_weight}}</td>
                        <th>Total Pcs</th>
                        <td>{{order.total_quantity}}</td>
                    </tr>
                </table>
            </div>
            <div>
                <h3>Special Instruction</h3>
                {{order.special_instruction}}
            </div>
        </div>
    </body>
    <style>
        @media print, screen {
            table {
                margin: 5px;
                border-collapse: collapse;
                width: 100%;
            }
    
            tr {
                border-bottom: 1px solid black;
            }
            th, td {
                text-align: left;
                padding: 10px;
                border: 1px solid black;
                border-collapse: collapse;
            }
    
            h1, h2, h3 {
                text-align: center;
            }
        }
    </style>
</html>